@use "assets/css/settings";
@use "assets/css/reset";
@use "assets/css/responsive";
@use "assets/css/variables";
@use "assets/css/mixin";


/* Common */
* {
  box-sizing: border-box;
}

html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1.8em;
  font-family: "Hiragino Sans",sans-serif;
}

li {
  list-style: none;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 50px;
}
