@use "../import/reset";
@use "../import/mixin";
@use "../import/common";
/* @use "../import/header";
@use "../import/footer";
*/



.topview__img {}


.topview__container {}

.doorlineup1__container {
  margin-top: 55px;
}

.doorlineup1__left-text {
  margin-top: 15.8px;
}

.doorlineup1__right-img--right {
  margin-left: 40px;
}

.doorlineup1__right-text {
  margin-top: 15.8px;
}

.doorlineup2__conatainer {
  margin-top: 78.2px;
  margin-bottom: 117.2px;
}

.doorlineup2__product-box {
  margin-left: 39px;
}

.doorlineup2__product-text {
  margin-top: 16.8px;
}

.doorlineup2__text {
  font-size: 20px;
  margin-left: 50px;
}


@media all and (max-width: 768px) {
  .topview__img {
    width: 100%;
  }

  .doorlineup1__left-img {
    width: 100%;
  }

  .doorlineup1__right-area {
    margin-top: 55px;
  }

  .doorlineup1__right-img {
    width: 43.2%;
  }

  .doorlineup2__product-area {
    flex-wrap: wrap;
    margin-top: 110.2px;
  }
  

  .doorlineup2__product-box {
    margin-bottom: 55px;
    width: 43.2%;
  }

  .doorlineup2__product-img {
    width: 100%;
  }

  .doorlineup2__product-box {
    margin-left: 0;
  }

  .doorlineup2__text {
    margin-left: 0;
  }

  .doorlineup2__product-text {
    width: 100%;
  }
}