body {
  background-color: #000000;
}

.main {
  margin-top: 90px;
  background-color: #231815;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: #fff;
}

p {
  font-size: 15px;
}

.c_container {
  width: 1280px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.c_align-items-c {
  align-items: center;
}

.topindex {
  height: 100px;
  background-color: #58595B;
}

.topindex__toptext {
  font-size: 30px;
}

.topmenu__container {
  margin-top: 50px;
}

.topmenu__list-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.topmenu__list-item {
  height: 48.01px;
  background-color: #58595B;
  transition: all 0.5s 0s ease;
}

.topmenu__list-item:hover {
  background-color: #9DA0A6;
}

.topmenu__list-item--thispage {
  background-color: #9DA0A6;
}

.topmenu__list-text {
  margin-left: auto;
  margin-right: auto;
}

.topmenu__list-arrow {
  margin-right: 17px;
}

.topview__container {
  margin-top: 80px;
}

.topview__heading {
  font-size: 32px;
  padding-left: 19px;
}

.topview__container {
  margin-top: 60px;
}


.topview__heading-toptext {
  font-size: 22px;
  margin-top: 25.8px;
}

.topview__heading-bottomtext {
  margin-top: 14px;
}

.topview__img {
  height: 560px;
}

.topview2__container {
  position: relative;
  margin-top: 80px;
  justify-content: center;
}

.topview2__heading-area {
  flex-direction: column;
  justify-content: center;
}

.topview2__heading {
  text-align: center;
  font-size: 32px;
}


.topview2__heading-toptext {
  text-align: center;
  font-size: 22px;
  margin-top: 25.8px;
}

.topview2__heading-bottomtext {
  text-align: center;
  margin-top: 14px;
}

.topview2__ecomark-img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.discription__container {
  margin-top: 55px;
}

.discription__heading {
  padding: 1rem;
  font-size: 22px;
  border: 1px solid #ffffff;
}

.discription__text {
  margin-top: 25.4px;
  font-size: 22px;
}


@media all and (max-width: 768px) {
  .main {
    margin-top: 70px;
  }

  .c_container {
    width: 92%;
    max-width: 92%;
    flex-direction: column;
  }

  .topmenu__list-area {
    grid-template-columns: 1fr 1fr;
    gap: 2.8%;
  }

  .topmenu__list-text {
    text-align: center;
  }

  .topview__heading-area {
    width: 100%;
  }

  .topview__image-area {
    margin-top: 60px;
  }


  .topview2__heading-area {
    width: 100%;
  }

  .topview2__heading-toptext {
    margin-top: 54px;
  }

  .topview2__heading-bottomtext {
    margin-top: 54px;
  }

  .topview2__image-area {
    margin-top: 96px;
  }

  .discription__heading {
    width: 85.7%;
  }
}