/* フッター共通スタイル */
.footer {
  font-family: serif;
}

.footer__attention-area {
  height: 154px;
  background-color: #000000;
}

.footer__attention-text {
  font-size: 12px;
}

.footer__top-area {
  height: 100.8px;
  background-color: rgb(47, 56, 63);
}

.footer__middle-area {
  height: 128.3px;
  background-color: #000000;
}

.footer__top-left-text {
  font-size: 12px;
}

.footer__top-middle-box {
  margin-left: 28.3px;
  margin-right: 28.3px;
}

.footer__top-middle-img {
  margin-right: 9.4px;
}

.footer__top-middle-text {
  font-size: 50px;
}

.footer__top-right-text {
  font-size: 12px;
}

.footer__bottom-area {
  display: flex;
  height: 100.8px;
  background-color: rgb(47, 56, 63);

}

.footer__bottom-box {
  height: 73.3px;
}

.footer__bottom-box--left {
  margin-right: 28.3px;
  background-color: rgb(99, 99, 99);
}

.footer__bottom-box--right {
  margin-left: 28.3px;
  background-color: rgb(130, 130, 130);
}

.footer__bottom-text {
  line-height: 26px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}


@media all and (max-width: 768px) {
  .footer__top-area {
    flex-direction: column;
    height: auto;
  }

  .footer__top-left-box {
    margin-top: 8.4px;
  }

  .footer__top-middle-text {
    font-size: 40px;
  }

  .footer__top-right-box {
    margin-bottom: 8.4px;
  }

  .footer__bottom-area {
    display: none;
  }

}