@use "../import/reset";
@use "../import/mixin";
@use "../import/common";
/* @use "../import/header";
@use "../import/footer"; */


.option {
  margin-top: 43.7px;
  margin-bottom: 26.2px;
}

.option__outertext {
  margin-bottom: 26.2px;
  font-size: 22px;
}

.option__area {
  background-color: #ffffff;
  margin-bottom: 80px;
}

.option__heading-box {
  justify-content: start;

}

.option__heading-text {
  line-height: 49px;
  font-size: 20px;
  background-color: #58595B;
  padding-left: 1rem;
  padding-right: 1rem;
}

.option__heading-subtext {
  line-height: 49px;
  font-size: 22px;
  color: #333333;
  padding-left: 19.6px;
  padding-right: 19.6px;
}

.option__discription-box {
  margin-top: 33.4px;
  margin-left: auto;
  margin-right: auto;
  width: 1119.4px;
}

.option__disctiption-text {
  color: #333333;

}

.option__detail-content {
  flex-direction: column;
}

.option__detail-box {
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 27.3px;
  padding-bottom: 40px;
  width: 960px;
  color: #333333;
}


.option__detail-content-heading-text {
  font-size: 20px;
  color: #333333;
}

.option__detail-content-top {
  justify-content: space-between;
  flex-wrap: wrap;
}

.option__detail-content-bottom {
  flex-direction: column;
}

.option__detail-content-text {
  margin-top: 16.2px;
  margin-bottom: 20px;
  color: #333333;
}

.option__detail-content-img {
  margin-bottom: 16.2px;
}

.option__center-img {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.option__center-img--sp {
  display: none;
}

.option__detail-content-text-small {
  color: #333333;
  font-size: 14px;
}

.option__detail-content-img--1-righttop {
  width: 282px;
}

.option__detail-content-img--1-rightbottom {
  margin-top: 34px;
}

.option__detail-content--2-left {
  width: 440.9px;
}

.option__detail-content--2-right {
  width: 440.4px;
}

.option__discription-box--3 {
  text-align: center;
}

.option__disctiption-text--4-top {
  font-size: 20px;
  color: #F81B1B;
}

.option__disctiption-text--4-top2 {
  font-size: 14px;
}

.option__detail-box--4 {
  flex-wrap: wrap;
}

.option__detail-box--6 {
  flex-direction: column;
}

@media all and (max-width: 768px) {

  .topview2__ecomark-img {
    top: 91px;
  }

  .topview2__heading-toptext {
    margin-top: 146px;
  }

  .option__outertext {
    font-size: 19px;
  }

  .option__heading-box {
    flex-direction: column;
  }

  .option__heading-text {
    width: 100%;
  }

  .option__heading-subtext {
    width: 88.2%;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    line-height: 32px;
  }

  .option__discription-box {
    width: 88.2%;
  }

  .option__center-img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .option__center-img--pc {
    display: none;
  }

  .option__center-img--sp {
    display: inherit;
  }

  .option__detail-box {
    flex-direction: column;
    width: 88.2%;
  }


  .option__detail-content-img {
    width: 100%;
  }

  .option__detail-content-img--sp-small1 {
    width: 49.3%;
  }

  .option__detail-content-img--sp-small2 {
    width: 45.6%;
  }

  .option__detail-content-img--sp-small3 {
    width: 73.2%;
    margin-left: auto;
    margin-right: auto;
  }

  .option__detail-content--2-left {
    width: 100%;
  }

  .option__detail-content--2-right {
    width: 100%;
  }


}